{
   "id": "ffffffffffffffffffff",
   "service_account_id": "ffffffffffffffffffff",
   "created_at": "2021-01-04T14:39:54.273654Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\n......-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\n......-----END PRIVATE KEY-----\n"
}
