yandex_cloud_id     = "xxxxxxxxxxxxxxxxxxxx"
yandex_folder_id    = "xxxxxxxxxxxxxxxxxxxx"
yandex_service_account_key_file    = "key.json"
yandex_image_id     = "xxxxxxxxxxxxxxxxxxxx"
subnet_id    = "xxxxxxxxxxxxxxxxxxxx"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
app_disk_image   = "xxxxxxxxxxxxxxxxxxxx"
db_disk_image    = "xxxxxxxxxxxxxxxxxxxx"
